@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
  font-family: 'Times New Roman', Times, serif';
  color: #250044;
  -webkit-font-smoothing: subpixel-antialiased;
  margin: 0;
}

img:hover, li:hover {
  opacity: 0.5;
}

a {
  text-decoration: none;
  color: '#014099';
  font-family: 'Lato', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.input-focus:focus {
  border-radius: 4;
  border-color: "#80bdff";
  box-shadow: "0 0 0 0.2rem rgba(0,123,255,.25)";
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

td {
  font-weight: initial;
}

.up-down {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.up-down:hover {
  cursor: pointer;
  color: #c7c9c8;
}

.bg-img {
  background-size: 180px 200px !important;
  background-position: 400px 80px !important;
  z-index: -2 !important;
  background-image: url('./public/img/bg.png');
  background-repeat: no-repeat;
}

.header {
  font-family: 'Times New Roman', Times, serif;
  background-color: 'rgb(103, 134, 255)';
}

li {
  list-style-type: none;
}